html {
  scroll-behavior: smooth;
}

header {
  font-family: "Roboto", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 253, 255, 1) 100%
  );
  justify-content: end;
}

section {
  font-family: "Work Sans", sans-serif;
}

footer {
  font-family: 'Lato', sans-serif;
}

a.link_header {
  color: black;
}

.link_header:hover {
  background-color: none;
  color: none;

}

.link_drop {
  padding-top: 8px;
  background: transparent;
  color: black;
  border: none;
}
.link_drop:hover {
  color: black;
  background: none;
}

.link_drop:active {
  color: black;
  background: none;
}

.link_drop:visited {
  color: black;
  background: none;
}

.link_card {
  color: royalblue;
  font-weight: bold;
  text-decoration: none;
}

.link_card:hover {
  color: red;
}

.card {
  margin-bottom: 30px;
  margin-left: 40px;
  margin-top: 20px;
}

.custom_btn {
  background-color: rgba(244, 253, 255, 255);
  color: black;
  font-weight: bolder;
}

.custom_center_btn {
  background-color: rgba(244, 253, 255, 255);
  color: black;
  font-weight: bolder;
}

.custom_center_btn:hover {
  background-color: none;
  background: none;
  color: none;
}

.custom_btn:hover {
  background-color: lightgrey;
  color: royalblue;
  font-weight: bolder;
}

.img_card {
  width: 285px;
  height: 190px;
}

.footer01 {
  margin-right: 20px;
}

.footer02 {
  margin-left: 60px;
  margin-top: 40px;
}

.footer03 {
  padding-left: 60px;
  margin-top: 40px;
}

@media (min-width: 575.98px) {
  .menu_desktop {
    display: block;
  }
  .menu_mobile {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .menu_desktop {
    display: none;
  }
  .menu_mobile {
    display: block;
    position: absolute;
    left: 15px;
    top: 40px;
  }
}

ul,
ol {
  list-style: none;
}

.nav > li {
  float: left;
}

.nav li a {
  background-color: rgba(244, 253, 255, 255);
  text-decoration: none;
  padding: 10px 12px;
  display: flex;
  position: relative;
}

.nav li a:hover {
  background-color: rgba(244, 253, 255, 255);
  color: blue;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul {
  display: block;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -100px;
  top: 0px;
}

.dropdown-toggle::after {
  margin-top: 12px;
}

.menu_ul{
  display: none;
}

input:checked  ~ ul{
  display:block;
}

input {
  display: none;
}

label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

#whatsapp {
  position: fixed;
  bottom: 20px;
  right:20px;
}

svg {
  filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
}

circle {
  fill: #25d366;
}
path {
  fill: #fff;
}